@import "colors" ;

@mixin lucida {
	font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode','Verdana', sans-serif;
}

@mixin headline-font {
	@include normal-font;
	font-size: 16px;
	text-transform: uppercase;
	color: $gray;
	font-weight: normal;
	letter-spacing: 2px;
}

@mixin normal-font {
	@include lucida;
	color: $black;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	line-height: 1.8em;
	a, a:link a:active, a:visited, a:hover {
		color: inherit;
		font-size: inherit;
		text-decoration: inherit;
		font-weight: inherit;
	}
	a:hover, a.activer {
		color: $gray;
	}
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

