@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "colors";
@import "fonts";

* {
	@include box-sizing(border-box);
}

$spacing: 17px;

body {
	@include normal-font;
	@include background(image-url("tile.jpg"));
	background-repeat: repeat;
	position: relative;
	> img {
		position: absolute;
		top: 0;
		&#patternleft{
			left: 0;
			@media (max-width: 1424px) {
				left: -100px;
			}
			@media (max-width: 1324px) {
				left: -150px;
			}
			@media (max-width: 1224px) {
				left: -200px;
			}
			@media (max-width: 1124px) {
				display: none;
			}
		}
		&#patternright{
			right: 0;
		}
	}
}

h1 {
	@include headline-font;
	margin-bottom: $spacing;
}
a, a:link, a:active, a:hover, a:visited {
	color: $gray;
}
p {
	margin-bottom: $spacing;
	&:last-child {
		margin-bottom: 0;
	}
}

#content {
	position: relative;
	top: 0;
	z-index: 900;
	width: 940px;
	margin: 0 auto;

	> header {
		img {
			padding: 35px;
		}
	}

	> div {
		background-color: $white;
		padding: 38px;
	}

	#leaf {
		background-color: transparent !important;
		padding: 0;
		margin: 0;
		margin-left: 35px;
	}

	> #main {
		#album {
			margin-bottom: $spacing;
			img {
				margin: 0 auto;
				cursor: pointer;
				display: none;
				&.active {
					display: block;
				}
			}
		}
		width: 610px;
		float: right;
		div {
			margin-bottom: $spacing;
		}
		#aboutauthors {
			h2 {
				@include normal-font;
				text-transform: none;
			}
		}
		#press {
			li {
				margin-bottom: $spacing/2;
			}
			em {
				font-style: italic;
			}
		}
	}

	> .widget {
		width: 310px;
		margin-right: $spacing;
		margin-bottom: $spacing;
	}

	#book {
		img {
			margin-bottom: $spacing;
		}
		a, a:link, a:active, a:hover, a:visited {
			color: black;
			font-weight: bold;
		}
	}

	#impress {
		code {
			white-space: pre-line;
		}
		h2, h3 {
			color: $gray;
		}
		a, a:link, a:active, a:hover, a:visited {
			color: $black;
		}
		h3 {
			cursor: pointer;
			margin-bottom: $spacing;
			+ p {
				display:none;
			}
			&.active {
				margin-bottom: 0;
				 + p {
					display: block;
				}
			}
		}
	}

}
