---
layout: boilerplate
---
<img src="imgs/pattern_left.png" id="patternleft" />
<img src="imgs/pattern_right.png" id="patternright" />
<div id="content">
	{% include header.html %}
	<div id="main">
		<div id="album">
			{% for post in site.posts %}
				{% if post.category == "album" %}
					{% for image in post.images %}
						<img src="imgs/album/{{image}}" />
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
		<div id="aboutbook">
			{% for post in site.posts %}
				{% if post.category == "aboutbook" %}
					<h1>{{post.title}}</h1>
					{{post.content}}
				{% endif %}
			{% endfor %}
		</div>
		<div id="press">
			<h1>Pressestimmen</h1>
			<ul>
				{% for post in site.posts %}
					{% if post.category == "press" %}
						<li>
							»{{post.content}}«<br>
							<em>{{post.author}}<!--
							{% if post.link %}
								-->;</em> <a href="{{post.link}}" target="_blank">die gesamte Rezension hier lesen.</a>
							{% else %}
								--></em>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div id="aboutauthors">
			{% for post in site.posts %}
				{% if post.category == "aboutauthors" %}
					<h1>{{post.title}}</h1>
					{{post.content}}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div id="book" class="widget">
		{% for post in site.posts %}
			{% if post.category == "book" %}
				<a href="{{post.link}}" target="_blank"><img src="imgs/{{post.image}}" /></a>
				{{post.content}}
			{% endif %}
		{% endfor %}
	</div>
	<div id="news" class="widget">
		<h1>Aktuelles</h1>
		{% for post in site.posts %}
			{% if post.category == "news" %}
				<h2>{{post.date | date: "%d.%m.%Y"}}</h2>
				{{post.content}}
			{% endif %}
		{% endfor %}
	</div>
	<div id="impress" class="widget">
		{% for post in site.posts %}
			{% if post.category == "impress" %}
				<h1>{{post.title}}</h1>
				{{post.content}}
			{% endif %}
		{% endfor %}
	</div>
	<div id="leaf">
		<img src="imgs/leaf.png" />
	</div>
</div>
